@use "base" as base; 

/// HEADER
.header {
    background-color: var(--primary-color);
    padding: 3rem 20rem;
}

/// NAVBAR
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    

    &__logo {
        width: 4rem;
        height: 4rem;
    }

    &__list {
        font-size: 1.6rem;
        display: flex;
        gap: 2.2rem;
    }

    &__item {
        font-weight: 700;
        text-decoration: none;
        color: var(--grey-normal);
    }
}

/// NAVBAR


// RANDOM INFO
.random-info {
    height: 100px;
    overflow: hidden;
}

// BTN
.btn {
    padding: 0.8rem 2.7rem;
    background-color: var(--secondary-color);
    color: var(--grey-light);
    font-size: 2rem;
    font-weight: 700;
    border-radius: 1rem;
    border: none;
}