@use "base" as base; 

/// WELCOME
.welcome {
    margin: 10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__image {
        max-width: 33.4%;
        border-radius: 1rem;
        flex: 1 1 0;
    }

    &__text-box {
        padding: 1rem 0;

        &__text {
            font-weight: 500;
            font-size: 1.8rem;
            color: var(--grey-normal);
            margin: 1.5rem 0;
            padding-right: 14rem;
        }

        & .btn {
            margin-top: 2rem;
        }
    }
}

.heading-primary {
    font-size: 4.8rem;
    color: var(--grey-light);
}

// RANDOM INFO
.random-info {
    padding: 10% 15% 12% 15%;
    margin-bottom: 21rem;

    &__title {
        text-align: center;
        font-size: 3.6rem;
        font-weight: bolder;
        margin-bottom: 5rem;
        margin-top: -5rem;
        color: var(--primary-color);
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        width: 180px;
        height: 180px;

        &-text {
            display: inline-block;
            font-weight: 500;
            font-size: 1.8rem;
            color: rgb(82, 82, 85);
        }
    }

    & img {
        width: 11.3vw;
        height: 11.3vw;
        border-radius: 1rem;
    }
}